/* Reset */
* {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: normal;
}

/* !! General styles !! */

/* wraps a round container around any text.*/
.count-container {
    background-color: #cccccc;
    padding: .3em .6em;
    margin: 0% 5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Controls body below navbar */
.content-container {
    width: 700px;
    min-height: 600px;
    padding: 3% 0%;
    margin: 0 auto;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
/* !! The End !! */

/* !! Start of navbar !! */
.nav-container {
    width: 75%;
}

.nav-container h1 {
    color: white;
    flex: 1;
}

.nav a {
    color: white;
    text-decoration-line: none;
}

/* Controls display for: Home my Profile Find Connections */
.nav-ul {
    display: flex;
    list-style-type: none;
    flex: 4;
    gap: .5rem;
}
/* !! The End !! */




/* !! Start of user card container !! */

.user-card-nav {
    background-color: #17a2b8;
    height: 100px;
    width: 100%;
}

#profilePic {
    height: 80%;
    position:relative;
    top: 50%;
    left: 5%;
}

.user-card-content {
    width: 95%;
    position: relative;
    flex-direction: column;
    left: 5%;
    margin: 9% 0 3%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
}

.user-card-name {
    font-weight: normal;
    color: black !important;
    flex:1;
}

.user-card-location {
    display: flex;
    flex:1;
}

#mapMarker {
    width: 12px;
    height: 19px;
    margin: 0px 10px;
}

.user-card-description {
    width: 100%;
    flex: 1;
}

.user-card-location h3 {
    font-weight:normal;
    color: black !important;
}

.skills {
    list-style-type: none;
    display:flex;
    gap: 0.3rem;
}

#gear {
    height: 18px;
    margin-right: 5px;
}

.editProfile {
    display: flex;
    align-items: center;
    flex:1;
}

.editProfile a {
    color: blue;
    text-decoration-line: underline;
}
/* !! The End !! */


/* Start of request container */

.request-nav {
    height: 50px;
    background-color: #333333;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.h3-request-title {
    color: #cccccc;
}

.request-ul {
    width: 100%;
}

.name {
    flex: 4;
}

.request-list {
    padding: 10px;
    gap: 1rem;
}

.user-pic {
    border-radius: 50%;
    width: 50px;
    flex: 1;
}

.accept-request {
    border-radius: 50%;
    width: 40px;
    flex: .5;
}

.deny-request {
    border-radius: 50%;
    width: 40px;
    flex: .5;
}
/* !! The End !! */


/* !! Start of education container !! */

.education-nav {
    height: 40px;
    background-color: #333333;
    display:flex;
    padding-left: 3%;
    align-items: center;
    justify-content: flex-start;
}

.container h3 {
    color: #cccccc;
}

#education-information {
    padding: 3%;
}

#education-information h3 {
    color: gray;
}
/* !! The End !! */


/* !! Start of connections container !! */

.connections-nav {
    height: 50px;
    background-color: #333333;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.connections-container h3 {
    color: #cccccc;
}

.view-more-container {
    background-color:transparent;
    width: 100%;
    border: 1px solid gray;
    padding: 15px 10px;
    justify-content: flex-start !important;
}
/* !! The End !! */